$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0;
}
body.light {
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #10072b;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --logoTextColor: #262e39;
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #66578d;
  --background: #0a041a;
  --text-color: rgba(255, 255, 255, 0.88);
  --text-secondary-color: rgba(255, 255, 255, 0.66);
  --site-header: var(--background);
  --card-bg: #181326;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --logoTextColor: #ffffff;
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  border-top: 10px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color 0.3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}

.gatsby-highlight {
  margin-bottom: 1rem;
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}

.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

// theme-changer
.theme-changer-input {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  grid-area: themechanger;
  width: 24px;
  height: 24px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0)
      no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.gg-sun::after,
.gg-sun::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.gg-sun::before {
  transform: rotate(-45deg);
}
.gg-sun::after {
  transform: rotate(45deg);
}
.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}
.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}
.gg-moon::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.theme-changer {
  grid-area: themechanger;
  cursor: pointer;
}
